


<section class="page-section" id="picaje-bordado">
    <div class="container px-4 px-lg-5 mt-5">
        <h2 class="text-center mt-0">Picaje <span>Bordado</span></h2>
        <hr class="divider" />
        <div class="row gx-4 gx-lg-5">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">

                        <div class="mb-2">
                            <img src="assets/img/picaje-1.jpg" alt="">
                        </div>

                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">

                        <div class="mb-2">
                            <img src="assets/img/picaje-2.jpg" alt="">
                        </div>

                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">

                        <div class="mb-2">
                            <img src="assets/img/picaje-3.jpg" alt="">
                        </div>

                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">

                        <div class="mb-2">
                            <img src="assets/img/picaje-4.jpg" alt="">
                        </div>

                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">

                        <div class="mb-2">
                            <img src="assets/img/picaje-5.jpg" alt="">
                        </div>

                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">

                        <div class="mb-2">
                            <img src="assets/img/picaje-6.jpg" alt="">
                        </div>

                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">

                        <div class="mb-2">
                            <img src="assets/img/picaje-7.jpg" alt="">
                        </div>

                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">

                        <div class="mb-2">
                            <img src="assets/img/picaje-8.jpg" alt="">
                        </div>

                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">

                        <div class="mb-2">
                            <img src="assets/img/picaje-9.jpg" alt="">
                        </div>

                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">

                        <div class="mb-2">
                            <img src="assets/img/picaje-10.jpg" alt="">
                        </div>

                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">

                        <div class="mb-2">
                            <img src="assets/img/picaje-11.jpg" alt="">
                        </div>

                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">

                        <div class="mb-2">
                            <img src="assets/img/picaje-12.jpg" alt="">
                        </div>

                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">

                        <div class="mb-2">
                            <img src="assets/img/picaje-13.jpg" alt="">
                        </div>

                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">

                        <div class="mb-2">
                            <img src="assets/img/picaje-14.jpg" alt="">
                        </div>

                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">

                        <div class="mb-2">
                            <img src="assets/img/picaje-15.jpg" alt="">
                        </div>

                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">

                        <div class="mb-2">
                            <img src="assets/img/picaje-16.jpg" alt="">
                        </div>

                </div>
            </div>

        </div>
    </div>
</section>

<section class="mb-5">
    <div class="container px-4 px-lg-5 mt-5">

        <div id="bordado_picaje_comments" class="p-4">
            <p class="text-justify">Comentarios</p>
            <hr>
            <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex flex-row icons d-flex align-items-center">
                    <i class="fa fa-heart"></i> <i class="fa fa-smile-o ml-2"></i>
                </div>
                <div class="d-flex flex-row muted-color">
                    <span>6 comentarios</span>
                </div>
            </div>
            <hr>
            <div class="comments">
                <div class="d-flex flex-row mb-2"> <img src="/assets/img/comment-1.jpg" width="40" class="rounded-image">
                    <div style="margin-left: 10px;" class="d-flex flex-column ml-2"> <span class="name">David López</span> <small class="comment-text">
                        Estoy encantado con mi compra. La calidad del bordado es excepcional y
                        los detalles son impresionantes. El servicio fue rápido y muy profesional.
                        ¡Sin duda, volveré a comprar!</small>
                        <div class="d-flex flex-row align-items-center status">
                            <small>Like</small> <small>Reply</small> <small>Translate</small> <small>1 mes</small> </div>
                    </div>
                </div>
                <div class="d-flex flex-row mb-2"> <img src="/assets/img/comment-2.jpg" width="40" class="rounded-image">
                    <div style="margin-left: 10px;" class="d-flex flex-column ml-2"> <span class="name">Javier Fernández</span> <small class="comment-text">
                        El picaje de bordado superó mis expectativas. Los diseños son precisos y detallados, y la entrega fue rápida. ¡Perfecto para darle un toque personalizado a mis prendas! Totalmente recomendado.</small>
                        <div class="d-flex flex-row align-items-center status">
                            <small>Like</small> <small>Reply</small> <small>Translate</small> <small>2 meses</small> </div>
                    </div>
                </div>
                <div class="d-flex flex-row mb-2"> <img src="/assets/img/comment-3.jpg" width="40" class="rounded-image">
                    <div style="margin-left: 10px;" class="d-flex flex-column ml-2"> <span class="name">Antonio Sánchez</span> <small class="comment-text">
                        Increíble trabajo en el picaje de bordado. Los detalles y la precisión del diseño son de primera calidad.
Se nota el cuidado y la dedicación en cada pieza.
El equipo entendió perfectamente lo que necesitaba y lo plasmó a la perfección.
Además, el servicio fue rápido y profesional.
Sin duda, una experiencia excelente de principio a fin.
¡Recomendado para cualquier proyecto de bordado personalizado!</small>
                        <div class="d-flex flex-row align-items-center status">
                            <small>Like</small> <small>Reply</small> <small>Translate</small> <small>4 meses</small> </div>
                    </div>
                </div>
                <div class="d-flex flex-row mb-2"> <img src="/assets/img/comment-4.jpg" width="40" class="rounded-image">
                    <div style="margin-left: 10px;" class="d-flex flex-column ml-2"> <span class="name">Carlos Pérez</span> <small class="comment-text">
                        El picaje de bordado quedó perfecto. Los diseños son súper detallados y de gran calidad.
El equipo captó exactamente lo que quería y lo hizo realidad.
Servicio rápido y atención excelente.
Me sorprendió lo bien que quedó todo.
¡Sin duda volveré a pedir!</small>
                        <div class="d-flex flex-row align-items-center status">
                            <small>Like</small> <small>Reply</small> <small>Translate</small> <small>5 meses</small> </div>
                    </div>
                </div>
                <div class="d-flex flex-row mb-2"> <img src="/assets/img/comment-5.jpg" width="40" class="rounded-image">
                    <div style="margin-left: 10px;" class="d-flex flex-column ml-2"> <span class="name">Ana García</span> <small class="comment-text">
                        Encantado con el picaje de bordado que recibí. Los detalles y la calidad son insuperables.
Cada diseño es único y se nota el esfuerzo en cada puntada.
El proceso fue fácil y rápido, con un servicio al cliente excelente.
Me guiaron durante todo el proceso y el resultado superó mis expectativas.
Definitivamente, han ganado un cliente fiel.
¡Recomiendo a todos los que buscan un toque especial en sus prendas!</small>
                        <div class="d-flex flex-row align-items-center status">
                            <small>Like</small> <small>Reply</small> <small>Translate</small> <small>6 meses</small> </div>
                    </div>
                </div>
                <div class="d-flex flex-row mb-2"> <img src="/assets/img/comment-6.jpg" width="40" class="rounded-image">
                    <div style="margin-left: 10px;" class="d-flex flex-column ml-2"> <span class="name">Lucía Martínez</span> <small class="comment-text">
                        Impresionado con el trabajo de picaje de bordado. Los diseños son precisos y los acabados perfectos.
El equipo entendió a la perfección mi idea y la convirtió en una obra de arte.
El servicio fue rápido, profesional y muy amable.
La calidad es notable desde el primer vistazo, se nota la dedicación en cada detalle.
Superaron todas mis expectativas y el resultado fue espectacular.
¡Definitivamente, los recomendaré a todos mis conocidos!</small>
                        <div class="d-flex flex-row align-items-center status">
                            <small>Like</small> <small>Reply</small> <small>Translate</small> <small>6 meses</small> </div>
                    </div>
                </div>
                <!-- <div class="comment-input"> <input type="text" class="form-control">
                    <div class="fonts"> <i class="fa fa-camera"></i> </div>
                </div> -->
            </div>
        </div>
    </div>
</section>

<!-- Contact-->
<section class="page-section" id="contact">
    <div class="container px-4 px-lg-5">
        <div class="container">
            <div class="row justify-content-md-center">
              <div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6">
                <h2 class="mb-4 display-5 text-center">Haga su <span>Presupuesto</span></h2>
                <!-- <p class="text-secondary mb-5 text-center lead fs-4">Bordado DTF y vinil</p> -->
                <hr class="w-50 mx-auto mb-5 mb-xl-9 border-dark-subtle">
              </div>
            </div>
          </div>

        <div class="row gx-4 gx-lg-5 justify-content-center mb-5">
            <div class="col-lg-6">
                <!-- * * * * * * * * * * * * * * *-->
                <!-- * * SB Forms Contact Form * *-->
                <!-- * * * * * * * * * * * * * * *-->
                <!-- This form is pre-integrated with SB Forms.-->
                <!-- To make this form functional, sign up at-->
                <!-- https://startbootstrap.com/solution/contact-forms-->
                <!-- to get an API token!-->
                <form id="contactForm" data-sb-form-api-token="API_TOKEN">
                    <!-- Name input-->
                    <div class="form-floating mb-3">
                        <input class="form-control" id="name" type="text" placeholder="Enter your name..." data-sb-validations="required" />
                        <label for="name">Nombre completo</label>
                        <div class="invalid-feedback" data-sb-feedback="name:required">Se requiere un nombre.</div>
                    </div>
                    <!-- Email address input-->
                    <div class="form-floating mb-3">
                        <input class="form-control" id="email" type="email" placeholder="name@example.com" data-sb-validations="required,email" />
                        <label for="email">Email</label>
                        <div class="invalid-feedback" data-sb-feedback="email:required">Se requiere un e-mail.</div>
                        <div class="invalid-feedback" data-sb-feedback="email:email">El correo electrónico no es válido.</div>
                    </div>
                    <!-- Phone number input-->
                    <!-- <div class="form-floating mb-3">
                        <input class="form-control" id="phone" type="tel" placeholder="(123) 456-7890" data-sb-validations="required" />
                        <label for="phone">Phone number</label>
                        <div class="invalid-feedback" data-sb-feedback="phone:required">A phone number is required.</div>
                    </div> -->
                    <!-- Message input-->
                    <div class="form-floating mb-3">
                        <textarea class="form-control" id="message" type="text" placeholder="Enter your message here..." style="height: 10rem" data-sb-validations="required"></textarea>
                        <label for="message">Describa los servicios que necesita</label>
                        <div class="invalid-feedback" data-sb-feedback="message:required">Se requiere un mensaje.</div>
                    </div>
                    <!-- Submit success message-->
                    <!---->
                    <!-- This is what your users will see when the form-->
                    <!-- has successfully submitted-->
                    <div class="d-none" id="submitSuccessMessage">
                        <div class="text-center mb-3">
                            <div class="fw-bolder">¡Envío de formulario exitoso!</div>
                            <!-- To activate this form, sign up at -->
                            <!-- <br /> -->
                            <!-- <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a> -->
                        </div>
                    </div>
                    <!-- Submit error message-->
                    <!---->
                    <!-- This is what your users will see when there is-->
                    <!-- an error submitting the form-->
                    <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                    <!-- Submit Button-->
                    <div class="d-grid"><button class="btn btn-primary btn-xl disabled" id="submitButton" type="submit">ENVIAR</button></div>
                </form>
            </div>
        </div>
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-4 text-center mb-5 mb-lg-0">
                Haga su presupuesto
                <div><i class="bi bi-whatsapp"></i> +591 69355045</div>
            </div>
        </div>

    </div>
</section>

<style>
    @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

    body{background-color: #fff;font-family: "Poppins", sans-serif;font-weight: 300}

    #bordado_picaje_comments {
        background: #eee;
    }

    .card{border:none}
    .ellipsis{color: #a09c9c}
    hr{color: #a09c9c;margin-top: 4px;margin-bottom: 8px}
    .muted-color{color: #a09c9c;font-size: 13px}
    .ellipsis i{margin-top: 3px;cursor: pointer}
    .icons i{font-size: 25px}
    .icons .fa-heart{color: red}
    .icons .fa-smile-o{color: yellow;font-size: 29px}
    .rounded-image{border-radius: 50%!important;display: flex;justify-content: center;align-items: center;height: 50px;width: 50px}
    .name{font-weight: 600}
    .comment-text{font-size: 12px}
    .status small{margin-right: 10px;color: rgb(10, 10, 177); font-size: small;}
    /* .form-control{border-radius: 26px} */
    .comment-input{position: relative}
    .fonts{position: absolute;right: 13px;top:8px;color: #a09c9c}
    /* .form-control:focus{color: #495057;background-color: #fff;border-color: #8bbafe;outline: 0;box-shadow: none} */
    /* img {
        border: 1px solid #cfcfcf;
        border-radius: 5px;
    } */
</style>

<%- include('./partials/_footer'); %>
